# Ignore the virtual environment folder
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore IDE settings (like VS Code, PyCharm)
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

